import java.awt.*;
import javax.swing.*;

class Template extends JFrame {

  @@funs@@

  private class DrawPane extends JPanel {

    public void paintComponent (Graphics g) {
      @@code@@
    }

  }

  public Template () {
    setDefaultCloseOperation(JFrame.EXIT_ON_CLOSE);
    setPreferredSize(new Dimension(800,600));
    setContentPane(new DrawPane());
    setVisible (true);
  }

  public static void main(String[] args) {
    javax.swing.SwingUtilities.invokeLater(Template::new);
  }

}